
<!-- <div class="container">
 
<div class="row-md-6">
  <div class="col-md-6" >
    <button routerLink="/tables" type="button" class="btn btn-primary btn-lg" type="buton">Large 1 button</button>
  </div>
  <div class="col-md-6">
    <button routerLink="/tables" type="button" class="btn btn-primary btn-lg">Large button</button>
  </div>
  <div class="col-md-6">
    <button routerLink="/tables" type="button" class="btn btn-primary btn-lg">Large button</button>
  </div>
   <div class="col-md-6">
    <button  class="btn btn-primary btn-lg">Large button</button>
    <router-outlet></router-outlet>
  </div>
</div>

</div> -->
<!-- <div class="container">
  <app-navi></app-navi>
<div class="row">
  <div class="col-md-3">
      <app-category></app-category>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>

</div> 
 -->
 <router-outlet></router-outlet>
 <!-- <div class="container">
 
  <div class="row-md-6">
    <div class="col-md-6" >
      <button routerLink="" type="button" class="btn btn-primary btn-lg" type="buton">Large 1 button</button>
    </div>
    <div class="col-md-6">
      <button routerLink="" type="button" class="btn btn-primary btn-lg">Large button</button>
    </div>
    <div class="col-md-6">
      <button routerLink="" type="button" class="btn btn-primary btn-lg">Large button</button>
    </div>
     <div class="col-md-6">
      <button routerLink="" class="btn btn-primary btn-lg">Large button</button>
      
    </div>
  </div>
  
  </div> -->
