<ul class="list-group">
    <li routerLink = "/products">Tüm Ürünler</li>
    <li *ngFor="let category of categories" ><a 
        routerLink = "/products" [queryParams]="{categoryId:category.categoryID}"   
        routerLinkActive="active"
        [class]="getCurrentCategoryClass(category)">
        {{category.categoryName}}</a>
        
    </li> 
    </ul>

<h5 *ngIf="currentCategory">{{currentCategory.categoryName}} seçtiniz</h5>



<!-- [class]="getCurrentCategoryClass(category)" -->






